@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: ghostwhite;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    padding: 30px;
}

.text-center {
    text-align: center;
}

.container {
    margin: 15px 0;
}

.btn-center {
    text-align: center;
    margin: 10px;
}

.input-container {
    margin: 20px 0;
}

.input-container .ant-input {
    background-color: ghostwhite;
}

.input-container .ant-input-suffix {
    right: 0;
}

.header-container {
    background: white;
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
}

.title-h1 {
    margin-bottom: auto;
}

.title-header {
    cursor: pointer;
}

.span-icon {
    margin-left: 10px;
}

.p-icon {
    margin-right: 10px;
}

.profil-pic {
    margin-bottom: 10px;
}

.ant-upload-picture-card-wrapper {
    width: initial;
}

.users-list {
    background: white;
}

.list-item:hover {
    cursor: pointer;
    background: ghostwhite;
}

.user-avatar-list {
    width: 40px;
    height: 40px;
}

.load-more {
    background: ghostwhite;
    padding: 10px;
}